{% extends "AppBundle::layout.html.twig" %}
{% block body%}
    <div class="container-fluid">
        <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="tab-moivie tab-channel">
                    <a href="{{path("app_team_edit",{"id":team.id})}}" class="btn btn-tab-movie-active col-md-12"><i class="material-icons">edit</i> Edit</a>
                    {% if team.type == "players" %}
                        <a href="{{path("app_team_players",{"id":team.id})}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">sports_handball</i> Players</a>
                    {% elseif team.type == "articles" %}
                        <a href="{{path("app_team_articles",{"id":team.id})}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">history_edu</i> Articles</a>
                    {% elseif team.type == "staffs" %}
                        <a href="{{path("app_team_staffs",{"id":team.id})}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">people_outline</i> Staffs</a>
                    {% elseif team.type == "trophies" %}
                        <a href="{{path("app_team_trophies",{"id":team.id})}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">emoji_events</i> Trophies</a>
                    {% endif %}
                    <a href="{{path("app_team_index")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">arrow_back</i> Cancel</a>
                  </div>
                </div>
              </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">view_list</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Edit :  {{form.vars.value.title}}</h4>
                        <br>
                        {{form_start(form)}}
                        <div class="row">
                        <div class="col-md-2">
                            <div class="fileinput fileinput-new text-center" style="    width: 100%;" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="    ">
                                    <img  id="img-preview-1" src="{{asset(form.vars.value.icon.link)|imagine_filter('team_icon')}}"  width="100%">
                                    <a href="#" class="btn btn-rose btn-sm btn-select-1 select-file-relative"><i class="material-icons">image</i> Icon</a>
                                </div>
                                {{form_widget(form.fileicon,{"attr":{"class":"file-hidden input-file-1 img-selector-1","style":"    display: none;"}})}}
                                <span class="validate-input">{{form_errors(form.fileicon)}}</span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="fileinput fileinput-new text-center" style="    width: 100%;" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="    ">
                                    <img  id="img-preview" src="{{asset(form.vars.value.media.link)|imagine_filter('team_thumb')}}"  width="100%">
                                    <a href="#" class="btn btn-rose btn-round btn-select"><i class="material-icons">image</i> Select cover </a>
                                </div>
                                {{form_widget(form.file,{"attr":{"class":"file-hidden input-file img-selector","style":"    display: none;"}})}}
                            </div>
                        </div>
                        <span class="validate-input">{{form_errors(form.file)}}</span>

                        </div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">New Team class</label>
                            {{form_widget(form.title,{"attr":{"class":"form-control"}})}}
                            <span class="validate-input">{{form_errors(form.title)}}</span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Sub-title</label>
                            {{form_widget(form.subtitle,{"attr":{"class":"form-control"}})}}
                            <span class="validate-input">{{form_errors(form.subtitle)}}</span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Type</label>
                            {{form_widget(form.type,{"attr":{"class":"form-control"}})}}
                            <span class="validate-input">{{form_errors(form.type)}}</span>
                        </div>
                        <div class="">
                            <label>
                                {{form_widget(form.enabled)}}  Enabled
                            </label>
                        </div>

                        <span class="pull-right">{{form_widget(form.save,{attr:{"class":"btn btn-fill btn-success"}})}}</span>
                        {{form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}